@model List<Kategori>

<nav class="nav flex-column flex-nowrap overflow-auto slider_nav">
    @foreach(var kategori in Model) {
        <a href="/urunler/@kategori.Url" class="nav-link active">@kategori.KategoriAdi</a>
    }
</nav>
