@model List<Urun>


<h4 class="mb-3">Benzer Ürünler</h4>
<div class="row gy-3">
    @foreach (var benzer in Model)
    {
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="card shadow">
                <div class="img-wrap">
                    <span class="fa fa-regular fa-heart"></span>
                    <img src="~/img/@benzer.Resim" alt="ürün 1" class="card-img-top">
                </div>

                <div class="border-top info-wrap">
                    <a href="#" class="title text-truncate">@benzer.UrunAdi</a>
                    <div class="price-wrap mb-3">
                        <span class="price-discount">45.999 ₺</span>
                        <del class="price">49.999 ₺</del>
                    </div>
                    <a href="#" class="btn btn-light w-100">
                        <i class="fa fa-shopping-basket me-1"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
    }
</div>